*.iml
.gradle
local.properties
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/deploymentTargetDropDown.xml
.idea/gradle.xml
.idea/kotlinc.xml
/.settings/org.eclipse.buildship.core.prefs
*/.settings/org.eclipse.buildship.core.prefs
*/.settings/org.eclipse.jdt.core.prefs
*/build/*
/build/*
desktop.ini
Thumbs.db
.classpath
.project

